---
import "@styles/global.css";
import { SEO, type SEOProps } from "astro-seo";
import animeConfig from "@configs/animeConfig";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";

interface Props {
  seo?: SEOProps;
}

const config = (animeConfig as any).default || animeConfig;
const {
  sankadonghub: { siteName, description, favicon },
} = config;

const seoProps = Astro.props.seo;
const seo: SEOProps = {
  titleDefault: siteName,
  description: description,
  ...seoProps,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href={favicon} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <SEO {...seo} />
  </head>
  <body
    class="font-inter relative bg-zinc-200 dark:bg-zinc-950 text-zinc-800 dark:text-zinc-50"
  >
    <Navbar
      navLinks={[
        { title: "Home", href: "/" },
        { title: "Ongoing", href: "/ongoing" },
        { title: "Completed", href: "/completed" },
        { title: "History", href: "/history" },
        { title: "Donasi", href: "https://nyawer.co/Benxx" },
      ]}
    />

    <main id="main" class="container min-h-screen relative">
      <div id="leluhur" class="hidden flex-col gap-3">
        <slot />
      </div>
      <div
        id="spinner-wrapper"
        class="top-0 right-8 pt-[90px] fixed flex justify-center items-center"
      >
        <span class="loader"></span>
      </div>
    </main>

    <Footer
      navLinks={{
        _1: [
          { title: "Daftar Genre", href: "/genres" },
          { title: "Jadwal Rilis", href: "/schedule" },
          { title: "A-Z List", href: "/az-list/A" },
          { title: "Seasons", href: "/genres" },    
        ],
        _2: [
          { title: "Disclaimers", href: "/disclaimers" },
          {
            title: "Donasi",
            href: "https://nyawer.co/Benxx",
            targetBlank: true,
          },
          {
            title: "Terima Kasih",
            href: "https://nyawer.co/Benxx",
            targetBlank: true,
          },
        ],
      }}
    />
  </body>
</html>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
></script>

<script is:inline>
  (function () {
    function isDark() {
      return (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      );
    }
    function getTheme() {
      const theme = localStorage.getItem("theme");
      if (theme) return theme;
      return isDark() ? "dark" : "light";
    }
    function setTheme() {
      const htmlEl = document.documentElement;
      const moonIconEl = document.getElementById("icon-moon");
      const sunIconEl = document.getElementById("icon-sun");
      const theme = getTheme();
      if (moonIconEl && sunIconEl) {
        if (theme === "light") {
          sunIconEl.classList.remove("hidden");
          moonIconEl.classList.add("hidden");
        } else if (theme === "dark") {
          moonIconEl.classList.remove("hidden");
          sunIconEl.classList.add("hidden");
        }
      }
      htmlEl.dataset.theme = theme;
      htmlEl.style.colorScheme = theme;
      localStorage.setItem("theme", theme);
    }
    setTheme();
  })();

  document.addEventListener("DOMContentLoaded", () => {
    const leluhurEl = document.getElementById("leluhur");
    const spinnerWrapperEl = document.getElementById("spinner-wrapper");
    leluhurEl.classList.remove("hidden");
    leluhurEl.classList.add("flex");
    spinnerWrapperEl.classList.add("hidden");
  });
</script>

<script>
  function adjustMainPaddingTop() {
    const mainEl = document.getElementById("main");
    const navbarEl = document.getElementById("navbar");
    const paddingY = 12;
    if (mainEl && navbarEl) {
      const navbarHeight = navbarEl.offsetHeight;
      mainEl.style.paddingTop = `${navbarHeight + paddingY}px`;
      mainEl.style.paddingBottom = `${paddingY}px`;
    }
  }
  window.addEventListener("load", adjustMainPaddingTop);
  window.addEventListener("resize", adjustMainPaddingTop);
</script>
